
body{
    background: #000000;
    color: #fff;}
  #contenedor{
    margin:auto;
    margin-top: 50px;
    width:315px;
    height:700px;
  }
  h1{
    display: flex;
    justify-content: center;
  }
  .flexbotones{
    display: flex;
    justify-content: flex-start;
  }

  .button{
    width: 75px;
    height: 75px;
    font-size: 50px;
    margin: 2px;
    font-family: 'Lekton', sans-serif;
    border-radius: 20px;
    border: 2px solid;
}
  .azul{
      background: rgb(50,20,255);
      color: white;
      border-color: rgb(40,0,255);
  }

  .naranjo{
    background: rgb(255,69,0);
      color: white;
      border-color: rgb(255,40,0);
}

.blanco{
    background: white;
      color: black;
      border-color: white;
}
  
  