#botones{
    color:black;
    align-self: center;
    border-radius: 15px;
}

#botones:hover{
    color:black;
    align-self: center;
    border-radius: 15px;
    size: 115%;
}

.numero{
    background-color: antiquewhite;
}
.numero{
    background-color: burlywood;
}

.operacion{
    color: azure;
    background-color:rgb(123, 70, 173);
}
.operacion:hover{
    color: azure;
    background-color:rgb(128, 93, 161);

}